body {
  /*background: url(images/bg.jpg);*/
  background-color: rgb(25,20,30);
  font-family: Helvetica;
}

*[draggable=true] {
  -moz-user-select: none;
  -khtml-user-drag: element;
  cursor: move;
}

#container {
  margin: 50px;
}

#mpc button {
  font-size: 60px;
  text-align: center;
  height: 150px;
  width: 150px;
  background-color: rgba(100,100,100,0.9);
  border: 5px solid rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  box-shadow: inset 0px 0px 25px 15px rgba(0,0,0,0.5);
}

#mpc {
  background-color: gray;
  float: left;
  border: 5px solid rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  height: 200px;
  width: 880px;
  padding: 10px;
  margin-right: 38px;
  margin-bottom: 10px;
  box-shadow: inset 0px 0px 200px 50px rgba(50,30,40,0.5);
}

.drumpad {
  float: left;
  font-size: 60px;
  margin: 0 auto;
  padding: 3px;
  height: 150px;
  width: 150px;
  border: 5px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: 5px;
  box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.2);
  background: radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
}

.padLabel {
  font-size: 12px;
  text-align: center;
  color: white;
  width: 150px;
  margin: 15px 0px 0px -5px;
  border: 5px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background: radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
}

#soundselector {
  float: left;
  height: 340px;
  width: 910px;
}

#loops {
  float: left;
  width: 330px;
  height: 300px;
  border: 5px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: gray;
  box-shadow: inset 0px 0px 200px 50px rgba(50,30,40,0.7);
  margin-right: 10px;
  padding: 10px 3px 10px 17px;
}

#loops_wrapper {
  display: none;
}

.loop {
  font-size: 18px;
  text-align: center;
  height: 140px;
  width: 145px;
  margin: 5px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgba(100,100,100,0.5);
  box-shadow: inset 0px 0px 70px -20px rgba(255,255,255,0.7);
}

.loop:hover {
  cursor: pointer;
  opacity: 0.7;
}

#soundbank {
  float: left;
  text-align: center;
  background-color: gray;
  border: 5px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  height: 320px;
  width: 530px;
  box-shadow: inset 0px 0px 200px 50px rgba(50,30,40,0.7);
  overflow: hidden;
}

#sounds_wrapper {
  margin-left: -28px;
  box-shadow: inset 0px -50px 70px -50px rgba(255,255,255,0.7);
  width: 560px;
  height: 300px;
  overflow: scroll;
}

#soundbank header {
  padding: 5px;
  font-size: 18px;
}

#soundbank li {
  float: left;
  background-color: rgba(100,100,100,0.5);
  box-shadow: inset 0px 0px 50px -20px rgba(255,255,255,0.7);
  border: 2px solid black;
  border-radius: 5px;
  font-size: 14px;
  line-height: 8em;
  width: 110px;
  height: 110px;
  margin: 0px 6px 12px 6px;
}

#soundbank li:hover {
  cursor: pointer;
  background-color: rgba(255,130,130,0.5);
}

#sounds {
  display: none;
  list-style: none;
  list-style-type: none;
}

/*.rate {
  font-size: 12px;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);

  float: left;
  width: 230px;
  height: 70px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.list {
  cursor: pointer;
  margin: 5px 0px 0px 5px;
  height: 50px;
  width: 240px;
  border: 5px solid rgba(0, 0, 0, 0.5);
}*/

/* range slider CSS taken from: 
http://brennaobrien.com/blog/2014/05/style-input-type-range-in-every-browser.html

input[type=range] {
  -webkit-appearance: none;
  width: 200px;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 200px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
  margin-top: -4px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}
input[type=range]::-moz-range-track {
  width: 200px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
}

input[type=range]::-ms-track {
  width: 200px;
  height: 5px;
  
  background: transparent;
  
  border-color: transparent;
  border-width: 6px 0;

  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #777;
  border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
  background: #ddd;
  border-radius: 10px;
}
input[type=range]::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
}
input[type=range]:focus::-ms-fill-lower {
  background: #888;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ccc;
}
*/
/* textbox css taken from w3schools http://www.w3schools.com/howto/howto_css_modals.asp

.textBox {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.textBox-content {
  font-family: Helvetica;
  font-size: 35px;
  text-align: justify;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 64%;
  height: 30%;
}

.close {
  color: rgba(0,0,0,0.5);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
*/