body {
  /*background: url(images/bg.jpg);*/
  background-color: rgb(25,20,30);
  font-family: 'Abel',Helvetica;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: default;
}

*[draggable=true] {
  -moz-user-select: none;
  -khtml-user-drag: element;
  cursor: move;
}

#container {
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}

#main {
  width: 100%;
}

.mobile {
  width: 0;
  height: 0;
  color: transparent;
}

#header {
  margin: 0 auto;
  width: 80%;
  height: 100px;
  line-height: 1em;
  text-align: center;
  color: white;
  font-size: 80px;
}

#mpc {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  height: 180px;
  background-color: rgb(80,60,70);
  border: 5px solid rgb(60,40,50);
  border-radius: 15px;
  padding: 5px;
}

.drumpad {
  width: 18%;
  height: 170px;
  border: 5px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.2);
  background: radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
}

.drumpad button {
  font-size: 3em;
  text-align: center;
  height: 88%;
  width: 100%;
  background-color: rgb(95,70,100);
  border: 3px solid black;
  border-radius: 3px;
}

#mpc .activePad {
  background-color: rgb(80,160,180);
  border: 3px solid white;
}

#mpc .loadedPad {
  background-color: rgb(80,160,180);
}

#mpc .dragoverPad {
  background-color: rgba(80,160,180,0.7);
  border: 3px solid white;
}

.padLabel {
  height: 12%;
  text-align: center;
  color: white;
  box-shadow: inset 0px 0px 60px -15px black;
}

.padLabel span {
  font-size: 1.3vw;
  line-height: 1.5em;
}

#sound_console {
  width: 100%;
}

#soundselector {
  margin: 0 auto;
  width: 81%;
  height: 320px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
}

#loops {
  display: flex;
  flex-basis: 38%;
  background-color: rgb(80,60,70);
  border: 5px solid rgb(60,40,50);
  border-radius: 10px;
  margin-right: 10px;
}

#loading_loops {
  text-align: center;
  width: 100%;
}

#loops_wrapper {
  float: left;
  display: none;
  padding: 5px;
  flex-direction: row;
  flex-flow: wrap;
}

#loops button {
  font-family: 'Abel';
  flex-grow: 1;
  width: 48%;
  margin: 1%;
  font-size: 3vw;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(100,90,95);
}

#loops button:hover {
  cursor: pointer;
  /*opacity: 0.7;*/
  border: 2px solid white;
}

#loops .activeLoop {
  background-color: rgb(70,200,60);
}

#soundbank {
  flex-basis: 62%;
  text-align: center;
  border: 5px solid rgb(60,40,50);
  border-radius: 10px;
  background-color: rgb(80,60,70);
  overflow: scroll;
}

#sounds_wrapper {
  display: flex;
}

#loading_sounds {
  text-align: center;
  flex-grow: 1;
}

#soundbank header {
  padding: 5px;
  font-size: 18px;
}

#sounds_wrapper li {
  flex-basis: 18%;
  flex-grow: 1;
  background-color: rgb(100,90,95);
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1.2vw;
  line-height: 8em;
  margin: 1px;
}

#sounds_wrapper li:hover {
  cursor: pointer;
  border: 1px solid white;
}

#sounds {
  display: none;
  flex-basis: 100%;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: flex-start;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

@media (max-width: 560px) {
  #main {display: none;}
  .mobile {
    color: rgba(255,255,255,0.9);
    margin: 0 auto;
    width: 100%;
    line-height: 1em;
    text-align: center;
    font-size: 10vw;
  }
}

/*#master {
  position: absolute;
  margin-left: 920px;
  border: 1px solid white;
  height: 570px;
  width: 235px;
}

#presets {
  float: left;
  color: white;
  text-align: center;
  height: 220px;
  background-color: gray;
  border: 5px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 225px;
  box-shadow: inset 0px 0px 200px 50px rgba(50,30,40,0.7);
  overflow: hidden;
}*/

/*.rate {
  font-size: 12px;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);

  float: left;
  width: 230px;
  height: 70px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.list {
  cursor: pointer;
  margin: 5px 0px 0px 5px;
  height: 50px;
  width: 240px;
  border: 5px solid rgba(0, 0, 0, 0.5);
}*/

/* range slider CSS taken from: 
http://brennaobrien.com/blog/2014/05/style-input-type-range-in-every-browser.html

input[type=range] {
  -webkit-appearance: none;
  width: 200px;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 200px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
  margin-top: -4px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}
input[type=range]::-moz-range-track {
  width: 200px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
}

input[type=range]::-ms-track {
  width: 200px;
  height: 5px;
  
  background: transparent;
  
  border-color: transparent;
  border-width: 6px 0;

  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #777;
  border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
  background: #ddd;
  border-radius: 10px;
}
input[type=range]::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
}
input[type=range]:focus::-ms-fill-lower {
  background: #888;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ccc;
}*/